<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 让页面根据设备的宽度自动缩放 -->
    <title>{{ user.name }}'s reading list</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>

<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="a horse" class="horse" src="{{ url_for('static', filename='images/horse.png') }}">
        {{ user.name }}'s 2021 reading list
    </h2>
    <nav> <!-- 一个导航页 -->
        <ul>
            <li><a href="{{ url_for('reading') }}">Home</a></li>
        </ul>
    </nav>
    
    {% block content %}{% endblock %}
    
    <footer>
        <small>&copy; 2021 <a href="https://ryanoligen.com">RyanOligen</a></small>
    </footer>
</body>

</html>